@font-face{
    font-family: tagsxtreme;
    src: url("../fonts/TagsXtreme2.ttf");
}
.logo{
    font-family: tagsxtreme;
    font-size: 3.0em;
    color: crimson;
    text-align: center;
}
.logo:hover{
    color: lightgray;
}
.navbar{
    width: 100%;
}
.nav-item{
    margin-left: 25px;

}
.nav-item>a{
    color: white;
}
.nav-item>a:hover{
    color: lightgrey;
}
.dropdown-item{
    color: white;
}
.dropdown-menu{
    background-color:#353a40;
}
.dropdown-item:hover{
    color: crimson;
}
.carousel-item>img{
    width: 100%;
    height: 800px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#aboutMe{
    text-align: center;
    min-width: 500px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 0;
}
.aboutMe_p{
    text-align: center;
    font-family: sans-serif;
}
.aboutmeStyle:hover .dropdown{
    display: block;
}
.myHistoryTitle{
    text-align: center;
    color: crimson;
    font-size: 2.1em;
    font-family: sans-serif;
    margin-bottom: 15px;
}

.navbar{
    position: fixed;
    z-index: 38;
}
#demo{
    padding-top: 95px;
}
.topBtn{
    padding:10px;
    position:fixed;
    top: 90%;
    right:40px;
    display:none;
    font-size: 30px;
    filter: invert(100);
}
.topBtn:hover{
    text-decoration:none;
    filter: none;
    
}
.dirponivel{
    color: rgb(50, 195, 120);
}
.pFooter{
    color: grey;
    font-size: 0.7em;
}
#footer{
    border-top-width: 1px;
    border-top-color: gray;
    border-top-style: solid;
    text-align: center;
}
#footer>p{
    margin-top: 10px;
}
.myContacts{
    padding-top: 100px;
    width: 100%;
    height: 300px;
    text-align: center;
    margin-bottom: 20px;
}
.myContacts>ul{
    margin: 0 auto auto;
    list-style-type: none;
    width: 600px;
    height: 150px;
    padding-left: 0px;
}
.myContacts>ul>li{
    width: 200px;
    float: left;
}
#h1Contacts{
    color: crimson;
    font-size: 2.1em;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.redes{
    filter: grayscale(100%);
}
.redes:hover{
    filter: grayscale(0%);
}
.number{
    display: none;
}
.liPhone:hover .number{
    display: block;
}
.phoneColor:hover{
    filter: grayscale(100%);
}
.liPhone{
    cursor: pointer;
}

.myExperienceH1{
    color: crimson;
    font-size: 2.1em;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.myExperienceDiv{
    text-align: center;
    min-width: 500px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 0;
    height: 320px;
}
.pJavaScript{
    font-style: inherit;
    font-size: 1.3em;  
     width: 175px;
    text-align: left;
}
.carousel-control-prev:hover{
    background-color: rgba(244, 255, 255, 0.200);
}
.carousel-control-next:hover{
    background-color: rgba(244, 255, 255, 0.200); 

}
.progress{
    height: 23px;
    margin-bottom: 5px;
    margin-left: 30%;
    margin-top: 1%;
    background-color: white;
}
.progressDiv{
    margin-top: 35px;
}
@font-face{
    font-family: digital;
    src: url("../fonts/digital-7.ttf");
}
.progress-bar{
    text-align: center;
    font-family: digital;
    font-size: 1.4em;
}